# Delete .template from filename. Secret for testing can be random. Neccessary for code to run properly.
jwt_secret=jwt-token-secret
eth_private_key=eth-private-key
eth_public_key=0
database_user=user
database_password=password
