on:
  push:
    branches: [ production ]
  pull_request:
    branches: [ production ]

jobs:
  build:
    runs-on: self-hosted

    env:
      BACKEND_IMAGE: localhost:32000/snowflake-back:latest
      FRONTEND_IMAGE: localhost:32000/snowflake-front:latest
      DOCKER_TLS_CERTDIR: "/certs"

    services:
      docker:
        image: docker:29.0.0-rc.2-dind
        options: --privileged

    steps:

      - name: Download code (checkout)
        uses: actions/checkout@v4

      - name: Building and pushing backend image
        uses: docker/build-push-action@v5
        with:
          context: ./backend
          file: ./backend/Dockerfile
          push: true
          tags: ${{ env.BACKEND_IMAGE }}

      - name: Building and pushing fronted image
        uses: docker/build-push-action@v5
        with:
          context: ./frontend
          file: ./frontend/Dockerfile
          push: true
          tags: ${{ env.FRONTEND_IMAGE }}

