on:
  push:
    branches: [ production ]

jobs:
  build:
    runs-on: self-hosted

    services:
      docker:
        image: docker:29.0.0-rc.2-dind
        options: --privileged

    outputs:
      backend_image_tag: ${{ steps.set-tags.outputs.snowflake-back:latest }}
      frontend_image_tag: ${{ steps.set-tags.outputs.snowflake-front:latest }}

    steps:

      - name: Download code (checkout)
        uses: actions/checkout@v4

      - name: Building backend image
        with:
          context: ./backend
          run: docker build -t ${{ steps.set-tags.outputs.snowflake-back:latest }} .

      - name: Building fronted image
        with:
          context: ./frontend
          run: docker build -t ${{ steps.set-tags.outputs.snowflake-front:latest }} .

      - name: Save Docker images to one file
        run: |
          docker save -o images.tar \
            ${{ steps.set-tags.outputs.snowflake-back:latest }} \
            ${{ steps.set-tags.outputs.snowflake-front:latest }}

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: docker-images-multi
          path: images.tar

  trivy-scan:
    runs-on: self-hosted

    needs: [build]

    steps:

      - name: Run Trivy on Backend image
        uses: aquasecurity/trivy-action@0.20.0
        with:
          image-ref: ${{ steps.set-tags.outputs.snowflake-back:latest }}
          scan-type: 'image'
          severity: 'HIGH,CRITICAL'
          exit-code: '1'

      - name: Run Trivy on Fronted image
        uses: aquasecurity/trivy-action@0.20.0
        with:
          image-ref: ${{ steps.set-tags.outputs.snowflake-front:latest }}
          scan-type: 'image'
          severity: 'HIGH,CRITICAL'
          exit-code: '1'

  push:
    runs-on: self-hosted

    needs: [trivy-scan]

    steps:
    
      - name: Download artifact
          uses: actions/download-artifact@v4
          with:
            name: docker-images-multi

        - name: Load Docker images
          run: docker load -i images.tar
          
        - name: Push Docker images
          run: |
            docker push ${{ needs.build.outputs.backend_image_tag }}
            
            docker push ${{ needs.build.outputs.fronted_image_tag }}

    

  deploy:
    runs-on: self-hosted

    needs: [push]

    env:
      BACKEND_DEPLOYMENT: deployment/snowflake-back
      FRONTEND_DEPLOYMENT: deployment/snowflake-front

    steps:

      - name: Restart front deployment
        run: microk8s kubectl rollout restart ${{ env.FRONTEND_DEPLOYMENT }}

      - name: Restart back deployment
        run: microk8s kubectl rollout restart ${{ env.BACKEND_DEPLOYMENT }}