on:
  push:
    branches: [ production ]
  pull_request:
    branches: [ production ]

jobs:
  build:
    runs-on: self-hosted

    env:
      BACKEND_IMAGE: registry-service.default.svc.cluster.local:32000/snowflake-back:latest
      FRONTEND_IMAGE: registry-service.default.svc.cluster.local:32000/snowflake-front:latest
      DOCKER_TLS_CERTDIR: "/certs"

    services:
      docker:
        image: docker-28.2.2-dind
        options: --privileged

    steps:
      - name: Building and pushing backend image
        uses: docker/build-push-action@v5
        with:
          context: ./backend
          file: ./backend/Dockerfile
          push: true
          tags: ${{ env.BACKEND_IMAGE }}

      - name: Building and pushing fronted image
        uses: docker/build-push-action@v5
        with:
          context: ./frontend
          file: ./frontend/Dockerfile
          push: true
          tags: ${{ env.FRONTEND_IMAGE }}

